################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/publish
/Release
/Whatsapp Direct/Release
/Whatsapp Direct/x64/Debug
/x64/Debug
